{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7001
 :site-settings  {:name "Wemebox"
                  :email "info@wemebox.com"
                  :site_link "http://www.wemebox.com"
                  :site_name "Wemebox"
                  :site_email "info@wemebox.com"
                  :site_domain "wemebox.com"}
 :email {:host "smttp.mai.com"
         :user "user"
         :pass "pass"
         :port 25}
 :db {:sql {:db "wemebox"
            :user "devasia"
            :password "devasia"}
      :cassandra {:cluster ["127.0.0.1"]
                  :keyspace "wemebox"}}}

